.projektitausta{
  background-color: darkblue;
}
.otsikko1{
  background-color: pink;
  color: purple;
  font-size: 20px;
  top: 10px;
  bottom: 10px;
  padding: 20px;
  text-align: center;
}
.laatikko{
  background-color: pink;
  text-align: left;
  bottom:10px; 
  width: 1300px;
  height:250px ;
  border: 1px solid;
  padding:10px;
  Margin:20px;
  margin-left:80px;
  margin-right:80px;
}
.otsikko2{
  background-color: pink;
  color:purple;
  text-align: left;
  font-size: 16px;
}
.lomake{
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    color: green
  }
  .lomaketieto {
    width: 100%;
    background-color:black;
    color: white;
    padding: 14px 14px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .lomaketieto:hover {
    background-color: black;  
  }
  .lomakee{
  background-color: lavender;
  border: 1px solid lavender;
  list-style-type: none;
  margin-left: 200px;
  margin-right: 120px;
  margin-top: 10px;
  padding:5px;
  }
.otsikko3{
  background-color:darkblue;
  color:darkviolet;
  text-align: left;
  font-size: 20px;
  margin-left: 170px;
  margin-top: 5px;
  }
.merkki {
  width: 80%;
  background-color:black;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:180px;
  margin-right:150px;
  margin-top: 5px;
  }
  .merkki:hover {
    background-color: black; 
  } 
  .lisattytieto{
  background-color: lavender;
  color:black;
  }
  .varoitus{
  background-color: red;
  color:black;
  }