body{
  background-color:rgba(0, 128, 0, 0.781);
  color: rgba(255, 255, 0, 0.877);
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
  color:aqua;
}
a:active{
  color:blueviolet;
}
div{
  background-color:purple;
  text-align:center
}
.otsikko{
  background-color:pink;
  color:purple
}
.alaotsikko{
  background-color:red;
  color:black
}
#etusivunnappula{
  width:30%;
  margin:auto;
  background-color:black;
}
.projektitausta{
  background-color: blue;
  text-align: left;
  margin: auto
}
#Projekti{
  background-color: blue;
  color:purple;

}
.otsikko1{
  background-color: pink;
  color:purple;
  margin-bottom:30px ; 
  padding: 10px;
  font-size: 22px;
}
#laatikko{
  background-color: pink;
  color:purple;
  text-align: left
}
.merkintalaatikko{
    width: 60px;
    display: inline-block; 
}


