body{
  background-color:rgba(0, 128, 0, 0.781);
  color: rgba(255, 255, 0, 0.877);
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
  color:aqua;
}
a:active{
  color:blueviolet;
}
div{
  background-color:purple;
  text-align:center
}
.otsikko{
  background-color:pink;
  color:purple
}
.alaotsikko{
  background-color:red;
  color:black
}
#etusivunnappula{
  width:30%;
  margin:auto;
  background-color:black;
}
.projektitausta{
  background-color: blue;
  text-align: left;
  margin: auto
}
#Projekti{
  background-color: darkblue;
  color:powderblue;
}
.otsikko1{
  background-color: pink;
  color:purple;
  margin-bottom:30px ; 
  padding: 10px;
  font-size: 22px;
}
#laatikko{
  background-color: pink;
  color:purple;
  text-align: left;
  padding: 10px;
}
.merkintalaatikko{
    width: 40px;
    display: inline-block; 
    color: green;
    font-size: 12px;
}
.otsikko2{
  background-color: pink;
  color:purple;
  text-align: left;
  font-size: 22px,
}
.lisaatieto{
  winth:30%;
  margin: auto;
  background-color: black;
  color:white;
  margin-bottom: 10px;
  padding: 10px;
  
}
.otsikko3{
  background-color: blue;
  color: purple;
  text-align: left;
  font-size: 18px
}


